@mixin title-center {
	font: {
		size: 48px;
		family: $fuente;
	}
	text: {
		align: center;
		transform: uppercase;
	}
}
@mixin box-shadow {
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
